.font-ubuntu-light {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300
}

.font-ubuntu-regular {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400
}

.font-ubuntu-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500
}